{% extends 'main.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block pageTitle %}{{ artikel.judul }}{% endblock %}
<!--  -->
{% block content %}
<hr />
<div class="row">
  <div class="col-md-9">
    <h4 class="text-light text-decoration-none">
      <b>{{artikel.judul}}</b>
    </h4>
    <p class="text-right mt-0">
      {{artikel.kategori}} | {{artikel.publish|timesince}} ago
    </p>
    <p class="text-secondary">{{ artikel.isi }}</p>
    <hr class="bg-light" />
  </div>
  <div class="col-sm">
    <ul class="list-group border mb-2">
      <li class="list-group-item bg-dark text-light" aria-current="true">
        KATEGORI
      </li>
      {% for kategori in kategori_list %}
      <li class="list-group-item border-top bg-transparent">
        <a
          href="{% url 'category' kategori 1 %}"
          class="text-light text-decoration-none"
          >{{ kategori }}</a
        >
      </li>
      {% endfor %}
    </ul>
    <ul class="list-group border">
      <li class="list-group-item bg-dark text-light" aria-current="true">
        ARTIKEL SERUPA
      </li>
      {% for artikel in artikel_serupa %}
      <!--  -->
      {% if forloop.counter is not 3 %}
      <li class="list-group-item border-top bg-transparent">
        <a
          href="{% url 'detail' artikel.slug %}"
          class="text-light text-decoration-none"
          >{{ artikel.judul }}</a
        >
        <br />
        <span class="text-muted">Published: {{ artikel.publish|date }}</span>
      </li>
      {% endif %}
      <!--  -->
      {% endfor %}
      <li
        class="list-group-item border-top"
        style="background-color: transparent"
      >
        <a
          href="{% url 'category' artikel.kategori 1 %}"
          class="text-light text-decoration-none"
          >Selengkapnya</a
        >
      </li>
    </ul>
  </div>
</div>
<hr />
{% endblock %}
