{% extends 'main.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block pageTitle %}Artikel{% endblock %}
<!--  -->
{% block content %}
<hr />
{% for artikel in artikel_list %}
<h3>
  <a class="nav-link text-black" href="{% url 'detail' artikel.slug %}"
    >{{artikel.judul}}
  </a>
</h3>
<p>Kategori: {{artikel.kategori}} | {{artikel.publish|date}}</p>
<p class="border-bottom">
  {{artikel.isi|truncatewords:80}}
  <a href="{% url 'detail' artikel.slug %}">Selengkapnya</a>
</p>
{% endfor %}
<hr />
{% endblock %}
